body {
    font-family:'Inria Serif';
    padding: 0px;
    margin: 0px;
    
    .navPart {

        .org {
            font-weight: 800;
            a {
                color:  #085f63;
                font-size:xx-large;
            }
        }

        .navs {
            padding: 0;
            margin-top: 5rem;
            text-align: center;
        }
    }

    .contentPart {
        .heading {
            text-align: center;
            background-color: white;
        }
        
        .seed_card {
            img {
                height: 10rem;
                object-fit: cover;

            }
        }
    }

}

a {
    text-decoration: none;
    color: black;
}