body {
    font-family:'Inria Serif';
    .navPart {
        align-items: start;
        .org {
            font-weight: 800;
            a {
                font-size:xx-large;
            }
        }

        .navs {
            padding: 0;
            text-align: center;
        }
    }

    .contentPart {
        .heading {
            text-align: center;
            background-color: white;
        }
        
        .seed_card {
            img {
                height: 10rem;
                object-fit: cover;

            }
        }
    }

}

a {
    text-decoration: none;
    color: black;
}