{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1> Detail Page of {{seed.seedName}} </h1>
    {% if seed.author == user %}
        <div>
            <a href=" {%url 'seed_update' seed.id %} ">Edit</a>
            <a href="{%url 'seed_delete' seed.id%} ">Delete</a>
        </div> 
    {% endif %}
    <div>
       <img style="height: 10rem;" src="{{seed.seedImg.url}}" alt="img of {{seed.seedName}}">
       <img style="height: 10rem;" src="{{seed.plantImg.url}}" alt="img of plant">
        <p>{{seed.content}}</p>
    </div>
    <div>
        <a href="{% url 'step_list' seed.seedName %} ">Steps</a>
    </div>
    


{% endblock %}