{% extends "base.html" %}
{% block content %}

<div>
    <div class="heading border-bottom sticky-top text-center bg-white">
        <p class="my-3">Seed List</p>
    </div>
    <div class="row g-2 mt-1">
        {% for seed in seeds %}
        <div class="col-lg-3 col-md-4 col-sm-6 overflow-auto">
            <a href="{% url 'seed_detail' seed.id %}">
                <div class="seed_card border rounded">
                    <img src="{{ seed.seedImg.url }}" class="card-img-top img-thumbnail img-fluid" alt="...">
                    <div class="text-center">
                        <p class="card-text h5 text-decoration-none">{{ seed.seedName }}</p>
                        <p class="card-text">by {{ seed.author }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}
{% block info %}
<div class="search border container my-2 rounded">
    <form class="d-flex flex-column row g-2 my-2" method="POST" action="{% url 'search_seed' %} "> {% csrf_token %}
        <input class="form-control" type="search" placeholder="attribute" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
</div>
{% endblock %}
