{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block href %} 
<a class="position-absolute start-0" href="{% url 'seed_list' %} "> <img src="{% static 'seed/arrow_back_icon.svg' %}" alt="Last Page"></a>
{% endblock %}

{% block head %}
{{seed.seedName}}
{% endblock %}

{% block content %}

<div class="row container p-3 mx-auto">
    <div class="row seed m-1 p-1 border rounded shadow">
        <img class="col-lg-5 col-md-5 col img-thumbnail" src="{{seed.seedImg.url}}" alt="img of {{seed.seedName}}"
            style="object-fit: cover">
        <p class="col-lg-7 col-md-6 col"> {{seed.content}} </p>
    </div>
    <div class="row seed m-1 p-1 border rounded shadow mt-3">
        <img class="col-lg-5 col-md-5 col" src="{{seed.plantImg.url}}" alt="img of plant" style="object-fit: cover">
        <p class="col-lg-7 col-md-6 col">{{seed.obtainTime}}</p>
    </div>
</div>
{% endblock %}

{% block info %}

<div class="container my-1 row d-flex">
    <div class="d-grid gap-2">
        {% if seed.author == user %}
        <a class="col-12 p-1 m-1 btn btn-outline-primary d-flex text-center" href=" {%url 'seed_update' seed.id %} ">
            <img src="{% static 'seed/edit_icon.svg' %} " alt="">
            <p class="px-auto mx-auto my-1">Edit</p>
        </a>
        <a class="col-12 p-1 m-1 btn btn-outline-danger d-flex text-center" href="{%url 'seed_delete' seed.id%} ">
            <img src="{% static 'seed/delete_icon.svg' %}" alt="">
            <p class="px-auto mx-auto my-1">Delete</p>
        </a>
        {% endif %}
        <a class="col-12 p-1 m-1 btn btn-outline-success d-flex text-center"
            href=" {% url 'step_list' seed.id %} ">
            <img src="{% static 'seed/steps_icon.svg' %} " alt="">
            <p class="px-auto mx-auto my-1">Steps</p>
        </a>
    </div>

</div>

{% endblock %}